*{
    margin: 0%;
    padding: 0%;
}
#headerx{
    background-color: rgb(180, 180, 180);
    font-family: system-ui;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}
#mainx{
    text-align: center;
    width: 50%;
    float: left;
}
#result_show , #result_delet,#html{
    width: 200px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius:50px ;
    border: none;
    font-family: system-ui;
    margin-bottom: 20px;
    transition-duration: 0.2s;
    transition-property: all;
}
#result_delet{
    left: 260px;
    position: relative;
}
#html:hover{
background-color: cornflowerblue;
}
#result_delet:hover{
     
    background-color: rgb(255, 0, 0);
}
#result_show:hover{
    background-color: rgb(0, 105, 32);
}
#result_show:active , #result_delet:active ,#html:active{
    transform: scale(0.9);
}
#write_codes{
    min-width: 95%;
    max-width: 95%;
    border-radius: 10px;
    min-height: 600px;
    font-size: 16px;
    border: 2px solid rgb(44, 44, 44);
    
}
#navx{

    width: 50%;
    float: right;
    position: relative;
}
#result_page{
    width:98%;
    min-height: 600px;
    position: relative;
    border: 2px solid red ;
}